.filter__container {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-bottom: 5px solid black;
    width: 100%;
    position: fixed;
    top: 70px;
    height: 290px;
    z-index: 2;


    h1, h2 {
        text-shadow: 2px 2px #d6d4d431;
        margin: 10px 0;
    }
    input[type=submit]{
        font-size: 18px;
        margin: 5px;
        background-color: green;
        color: white;
        padding: 5px;
        border: none;
    }

    button {
        font-size: 18px;
        margin: 5px;
        padding: 5px;
        background-color: rgb(97, 95, 95);
        color: white;
        border: none;

    }
    form > label > select, input[type = number] {
        width: 50px;
        font-size: 18px;
        margin: 3px;
        padding: 5px;
        text-align: center;
    }

    form > label > select {
        width: 100px;
    }

    audio {
        width: 100%;
        color: white;
    }
    audio::-webkit-media-controls-timeline-container{
        color: black;
    }
    
}

.filter__flexcontainer{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 5px 25px;
}

.filter__pages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   


    form {
        margin-top: 0px;
    }

    form > label > input[type = submit] {
        background-color: rgb(97, 95, 95);
    }
   
}

.filter__page__buttons{
    display: flex;
    flex-direction: row;

}

.filter__status{
   span {
    margin-left: 5px;
    text-shadow: 1px 1px #0000006c
   }
}


.filter__titles{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.filter__audio {
    h4 {
        
        margin-bottom: 10px;
        
    }
}

.filter__display{
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}