$primaryColor: #121111;
$secondaryColor: #a50303;
$white: #f7f7f7;
$gray: #888888;

$very-small: 1.2rem;
$smaller: 1.4rem;
$small: 1.6rem;
$small-medium: 1.8rem;
$medium: 2.0rem;
$medium-large: 2.5rem;
$large: 3.5rem;
$large-medium: 4.5rem;
$xlarge: 6.0rem;
$xxlarge: 7.0rem;
$xxxlarge: 8.0rem;
$xxxxlarge: 9.5rem;

$border-radius-search: 8px;

