@use "./base.scss" as *;


.search-filter-container {
    border: 2px solid gray;
    border-radius: $border-radius-search;
    padding: 10px;
    width: 360px;

    input[type="text"] {
        font-size: $small-medium;
        border: none;
        width: 275px;
    }

    input[type="text"]:focus {
        outline: none
    }



    button {
        border: none;
        padding: 5px;
    }

    button i {
        font-size: $small-medium;
        margin: 0px 5px;
    }

    button:hover {
        cursor: pointer;
    }
}

.search-filter-dropdown.open {
    display: block;
}

.search-filter-dropdown {
    width: 100%;
    display: none;
    position: absolute;
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    z-index: 2;
    border-radius: $border-radius-search;

    h4 {
        font-size: $small;
    }

    h5 {
        font-size: $very-small;
        margin-bottom: 5px;
    }

    form div {
        margin: 20px 0px;
    }

    .filter-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    label {
        font-size: $very-small;
        margin: 0px 10px;
        display: flex;
        gap: 7px;
        padding: 5px;
        align-items: center;
    }
        
    input[type="date"] {
        font-size: $very-small;
        margin-right: 10px;
    }

    button {
        border: none;
        justify-self: right;
        border: none;
        text-align: right;
        color: $secondaryColor;
        font-weight: bold;
        font-size: $very-small;
    }
    button i {
        font-size: $small-medium;
    }

    .clear-filter-btn {
            display: flex;
            justify-content: right;
            gap: 4px;
            align-items: center;
            font-size: $smaller;
            color: $primaryColor;

            button:hover {
                cursor: pointer;
            }

    
            i {
                font-size: $smaller;
                color: $secondaryColor;
            }
   
        }
}




@media screen and (max-width: 1300px) {

    .search-filter-container {
        width: 375px;

        input[type="text"] {
            width: 285px;
        }
    
        button i {
            font-size: $small;
        }
    }

    .search-filter-dropdown {
        width: 375px;
        form div {
            display: flex;
            flex-direction: column;
            gap: 6px;
            justify-content: center;
        }
    }

}

@media screen and (max-width: 800px) {

    .search-filter-container {
        width: 275px;

        input[type="text"] {
            width: 185px;
        }

        button i {
            font-size: $small;
        }
    }

    .search-filter-dropdown {
        width: 275px;

        form div {
            display: flex;
            flex-direction: column;
            gap: 6px;
            justify-content: center;
        }
    }

}